<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ожидания от курсов</title>
    <link rel="stylesheet" href="/visitka/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

<a href="../index.html" class="back-button">Назад</a>

<div class="container">
    <h1>Ожидания от курсов</h1>
    <p class="expectations-text">
        Вообще, вот я сейчас второй год подряд записываюсь на этот курс.
        Еще с первого года я понял, что этот проект, этот курс, он вообще очень мощный и полезный.
        Обидно, конечно, что в прошлом году не было этих таких фреймворков, как React и Vue.js,
        но это не мешает записаться к ним же еще раз ^_^.
        И в этот раз, я уверен, максимально уверен, что у меня получится завершить этот курс успешно.
        Программа здесь очень насыщенная и мощная, это уже внушает доверия.
        Я планирую завершить этот курс, написать лютый проект, и потом, спустя полмесяца-месяц,
        уже выйти на работу, хоть и маленькую и малоприбыльную, но я буду стараться делать себя лучше.
    </p>
</div>

<footer>
    <a href="https://t.me/Rufik1402" target="_blank">Telegram</a>
    <a href="mailto:rufat.magerramow@gmail.com">rufat.magerramow@gmail.com</a>
</footer>
</body>
</html>
