<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хобби</title>
    <link rel="stylesheet" href="/visitka/stylesa/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<a href="../index.html" class="back-button">Назад</a>

<div class="container">
    <h1>Хобби</h1>

    <div class="hobby-block">
        <div class="hobby-text">
            <h2>Компьютерные игры</h2>
            Я очень люблю зависать в компе и поиграть во что-нибудь.
            Но, чаще всего, я играю в Valorant, игра, похожая на cs:go.
            Люблю там зависать с друзьями по вечерам и чиллить в приятной обстановке.
        </div>
        <img src="/visitka/imagesa/images/LPyoYueQ.jpg" alt="Фото1" class="hobby-photo">
    </div>

    <div class="hobby-block">
        <div class="hobby-text">
            <h2>Игра на пианино</h2>
            Я ООООЧЕНЬ люблю играть на этом музыкальном инструменте, и не важно каком.
            У самого нету пианино, но он есть у друзей.
            Могу сыграть Макса Коржа "Мотылёк" и ещё пару песен из игр и аниме.
        </div>
        <img src="/visitka/imagesa/images/Gniw06Hy.jpg" alt="Фото2" class="hobby-photo">
    </div>

    <div class="hobby-block">
        <div class="hobby-text">
            <h2>Баскетбол</h2>
            Люблю этот вид спорта, хоть я и не профессионал.
            Полезно бывает побегать и покидать мячик.
            Особенно вдохновило аниме "Баскетбол Куроко".
        </div>
        <img src="/visitka/imagesa/images/kuroko.jpg" alt="Фото3" class="hobby-photo">
    </div>
</div>

<footer>
    <a href="https://t.me/Rufik1402" target="_blank">Telegram</a>
    <a href="mailto:rufat.magerramow@gmail.com">rufat.magerramow@gmail.com</a>
</footer>
</body>
</html>
