<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О себе</title>
    <link rel="stylesheet" href="/visitka/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<a href="../index.html" class="back-button">Назад</a>

<div class="container">
    <h1>О себе</h1>

    <div class="info-block">
        <div class="info-text">
            Меня зовут Руфат Магеррамов, на данный момент мне 18 лет.
            Родился в городе Тольятти, затем в детстве переехал в Москву.
            Учусь в самом лучшем университете "НИТУ МИСиС", являюсь студентом 2 курса группы БПИ-24-6.
        </div>
        <img src="/visitka/images/misis_logo.png" alt="Фото1" class="info-photo">
    </div>

    <div class="info-block">
        <div class="info-text">
            Хочу развиваться в области frontend и прокачивать навыки через практические проекты.
            В процессе программирования мне очень помогает музыка.
            Обычно я слушаю ру-рэп, хип-хоп, но обычно слушаю то, что попадается (меломан).
            Самые любимые артисты представлены справа.
        </div>
        <img src="/visitka/images/photo_5400184994443425110_y.jpg" alt="Фото2" class="info-photo">
    </div>

    <div class="info-block">
        <div class="info-text">
            Также я очень люблю домашних животных, больше кошек.
            К сожалению, нет возможности завести котика из-за семейных проблем.
            Но, к счастью, есть дворовый котик, который завелся в деревне в другой стране.
            Вот она кстати, маленькая и уже выросла чуть-чуть.
        </div>
        <img src="/visitka/images/photo_5400184994443425086_y.jpg" alt="Фото3" class="info-photo">
    </div>
</div>

<footer>
    <a href="https://t.me/Rufik1402" target="_blank">Telegram</a>
    <a href="mailto:rufat.magerramow@gmail.com">rufat.magerramow@gmail.com</a>
</footer>
</body>
</html>
